.input {
	position: relative;
	min-width: 24px;
	height: 24px;
	margin: 0;
	border: 1px solid white;
	color: white;
	font: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	place-content: center;

	&::before {
		display: block;
		position: absolute;
		top: 3px;
		left: 3px;
		width: 16px;
		height: 16px;
		content: "";
		background-color: rgba(255, 255, 255, 0.1);
		transition: 60ms background-color ease-in-out;
	}

	&:checked::before {
		background-color: white;
	}
}
