.bgOverlay {
  background-color: rgba(2, 15, 8, 0.5);
}

.bg1 {
  @media screen and (min-width: 0px) {
    background-image: url(/assets/bg/mobile/s3:1-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/mobile/s3:1-2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    background-image: url(/assets/bg/tablet/s3:1-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/tablet/s3:1-2x.jpg);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(/assets/bg/desktop/s3:1-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/desktop/s3:1-2x.jpg);
    }
  }
}

.bg2 {
  @media screen and (min-width: 0px) {
    background-image: url(/assets/bg/mobile/s3:2-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/mobile/s3:2-2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    background-image: url(/assets/bg/tablet/s3:2-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/tablet/s3:2-2x.jpg);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(/assets/bg/desktop/s3:2-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/desktop/s3:2-2x.jpg);
    }
  }
}

.bg3 {
  @media screen and (min-width: 0px) {
    background-image: url(/assets/bg/mobile/s3:3-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/mobile/s3:3-2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    background-image: url(/assets/bg/tablet/s3:3-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/tablet/s3:3-2x.jpg);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(/assets/bg/desktop/s3:3-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/desktop/s3:3-2x.jpg);
    }
  }
}

.bg4 {
  @media screen and (min-width: 0px) {
    background-image: url(/assets/bg/mobile/s3:4-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/mobile/s3:4-2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    background-image: url(/assets/bg/tablet/s3:4-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/tablet/s3:4-2x.jpg);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(/assets/bg/desktop/s3:4-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/desktop/s3:4-2x.jpg);
    }
  }
}

.bg5 {
  @media screen and (min-width: 0px) {
    background-image: url(/assets/bg/mobile/s3:5-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/mobile/s3:5-2x.jpg);
    }
  }

  @media screen and (min-width: 500px) {
    background-image: url(/assets/bg/tablet/s3:5-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/tablet/s3:5-2x.jpg);
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(/assets/bg/desktop/s3:5-1x.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/bg/desktop/s3:5-2x.jpg);
    }
  }
}

.navigationWrapper {
  position: relative;
}

.dots {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  display: flex;
  padding: 10px 0;
  justify-content: center;
  @media screen and (min-width: 1280px) {
    bottom: -3%;
  }
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.active {
  background: #c5c5c5;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.arrow {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 125px;
  fill: #fff;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 50%;
  }
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

.arrowDisabled {
  fill: rgba(255, 255, 255, 0.5);
}
