.bgOverlay {
	height: 100%;
	background-color: rgba(2, 15, 8, 0.5);
}

.bg1 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:1-2x.jpg);
		}
	}

	@media screen and (min-width: 500px) {
		background-image: url(/background/tablet/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:1-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:1-2x.jpg);
		}
	}
}

.bg2 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:2-2x.jpg);
		}
	}

	@media screen and (min-width: 500px) {
		background-image: url(/background/tablet/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:2-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:2-2x.jpg);
		}
	}
}

.bg3 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:3-2x.jpg);
		}
	}

	@media screen and (min-width: 500px) {
		background-image: url(/background/tablet/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:3-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:3-2x.jpg);
		}
	}
}

.bg4 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:4-2x.jpg);
		}
	}

	@media screen and (min-width: 500px) {
		background-image: url(/background/tablet/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:4-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:4-2x.jpg);
		}
	}
}

.bg5 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:5-2x.jpg);
		}
	}

	@media screen and (min-width: 500px) {
		background-image: url(/background/tablet/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:5-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:5-2x.jpg);
		}
	}
}

.dots {
	display: flex;
	position: absolute;
	bottom: -20px;
	left: 50%;
	justify-content: center;
	padding: 10px 0;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	@media screen and (min-width: 1280px) {
		bottom: 3%;
	}
}

.dot {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 5px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	&:focus {
		outline: none;
	}
	&.active {
		background: #c5c5c5;
	}
}

.buttons {
	display: flex;
	position: absolute;
	top: -390px;
	left: 0;
	flex-direction: column;
	max-width: 185px;
	color: rgba(255, 255, 255, 0.2);
	line-height: 17px;
	text-transform: uppercase;
	gap: 16px;

	@media (min-width: 400px) {
		max-width: 200px;
		font-size: 22px;
		line-height: 20px;
		gap: 13px;
	}
	@media (min-width: 768px) {
		top: -424px;
		left: 482px;
	}
	@media (min-width: 1280px) {
		top: -520px;
		left: 635px;
		line-height: 28px;
		gap: 20px;
	}
}

.button {
	display: flex;
	position: relative;
	align-items: center;
	font-weight: 200;
	&:focus {
		outline: none;
	}
	&.active {
		color: #fff;
		font-weight: 500;
		&::before {
			display: block;
			width: 9px;
			height: 9px;
			padding-left: 14px;
			content: "";
			background-image: url("../../../../../public/svg/rhombus.svg");
			background-repeat: no-repeat;
		}
	}
}

.arrow {
	position: absolute;
	top: -745px;
	width: 50px;
	height: 100px;
	cursor: pointer;
	fill: #fff;
	@media screen and (min-width: 768px) {
		top: -350px;
	}
}

.arrowLeft {
	left: 0;
	@media screen and (min-width: 768px) {
		left: -60px;
	}
}

.arrowRight {
	right: -30px;
}

.arrowDisabled {
	cursor: default;
	fill: rgba(255, 255, 255, 0.3);
}
