.bg1 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:1-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:1-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:1-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:1-2x.jpg);
		}
	}
}
.bg2 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:2-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:2-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:2-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:2-2x.jpg);
		}
	}
}
.bg3 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:3-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:3-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:3-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:3-2x.jpg);
		}
	}
}
.bg4 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:4-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:4-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:4-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:4-2x.jpg);
		}
	}
}
.bg5 {
	@media screen and (min-width: 0px) {
		background-image: url(/background/mobile/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/mobile/s3:5-2x.jpg);
		}
	}

	@media screen and (min-width: 768px) {
		background-image: url(/background/tablet/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/tablet/s3:5-2x.jpg);
		}
	}

	@media screen and (min-width: 1440px) {
		background-image: url(/background/desktop/s3:5-1x.jpg);
		@media screen and (min-resolution: 2dppx) {
			background-image: url(/background/desktop/s3:5-2x.jpg);
		}
	}
}
